#main {
  position: relative;

  overflow: hidden;

  min-width: 960px;
  min-height: 100%;
}

/******************************************************************************
*
*  CONTENT
*
******************************************************************************/

#cnt {
  position: relative;

  width: 940px;
  margin: 0 auto 65px;
}

/******************************************************************************
*
*  CONTENT --> error
*
******************************************************************************/

.er {
  position: relative;

  padding: 34px 0;
}

.er .lg {
  position: relative;

  width: 122px;
  height: 27px;
  margin: 0 0 46px;
}

.er .lg .lglk {
  display: block;

  width: 122px;
  height: 27px;
}

.er .im {
  position: relative;

  width: 362px;
  height: 157px;
  margin: 0 0 48px;
}

.er .tx {
  position: relative;

  margin: 0 0 100px;
}

.er .tx .txtt {
  font: 700 36px/1 'Roboto';

  position: relative;

  margin: 0 0 19px;

  color: #1f1d1d;
}

.er .tx .txbx {
  font: 15px/2 'Roboto';

  position: relative;

  color: #2a2a2a;
}

.er .tx .txbx a {
  color: #11a4e1;
}

.er .mn {
  position: relative;  
}

.er .mn .mnlk {
  font: 14px/1 'Roboto';

  position: relative;

  display: block;
  float: left;

  margin: 0 40px 0 0;

  text-decoration: none;

  color: #11a4e1;
}

.er .mn .mnlk:hover {
  text-decoration: underline;
}