.mCustomScrollbar {
  -ms-touch-action: none;
      touch-action: none;
}

.mCustomScrollbar.mCS_no_scrollbar {
  -ms-touch-action: auto;
      touch-action: auto;
}

.mCustomScrollBox {
  position: relative;

  overflow: hidden;

  max-width: 100%;
  height: 100%;
}

.mCSB_scrollTools_vertical {
  position: absolute;
  top: 24px;
  right: 0;
  bottom: 0;

  width: 6px;
}

.mCSB_outside + .mCSB_scrollTools_vertical {
  right: -16px
}

.mCSB_inside .mCSB_scrollTools_vertical {
  right: 14px;
}

.ui-selectmenu-menu .mCSB_scrollTools_vertical {
  top: 7px;
  bottom: 7px;
}

.mCSB_scrollTools_vertical .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mCSB_scrollTools_vertical .mCSB_draggerRail {
  width: 6px;
  height: 100%;
  margin: 0 auto;

  border-radius: 3px;
  background: #e8e8e8;
}

.mCSB_scrollTools_vertical .mCSB_dragger {
  width: 100%;
  height: 30px;

  cursor: pointer;
}

.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar {
  position: relative;

  width: 6px;
  height: 100%;
  margin: 0 auto;

  border-radius: 3px;
  background: #c6c6c6;
}

.mCSB_scrollTools_horizontal {
  position: absolute;
  right: 0;
  bottom: -16px;
  left: 0;

  height: 6px;
}

.mCSB_scrollTools_horizontal .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 6px;

  border-radius: 3px;
  background: #e8e8e8;
}

.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 30px;
  height: 100%;

  cursor: pointer;
}

.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  position: relative;

  width: 100%;
  height: 6px;

  border-radius: 3px;
  background: #c6c6c6;
}